.card{
    width: 400px;
    height: 170px;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    background: linear-gradient(135deg, #be7c9f, #0a1f6e);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 2s;


    .backSide{
        display: none;
    }

    &:hover{
        transform: rotateY(180deg);

        .frontSide{
            display: none;
        }

        .backSide{
            transition: 2s;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .gauge{
                height: 16px;
                width: 200px;
                background-color: rgb(156, 156, 156);
                border-radius: 16px;

                #colored{
                    background-color: white;
                    height: 16px;
                    border-radius: 16px;
                }
            }
        }
    }
    
}