.card{
    width: 400px;
    height: 170px;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    background: linear-gradient(135deg, #be7c9f, #0a1f6e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 2s;


    .backSide{
        display: none;
        .like{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;

            p{
                margin: 32px 16px;
            }

            img{
                height: 40px;
            }
        }

        .gauge{
            height: 16px;
            width: 200px;
            background-color: rgb(156, 156, 156);
            border-radius: 16px;

            #colored{
                background-color: white;
                height: 16px;
                border-radius: 16px;
            }
        }
    }

    &:hover{
        transform: rotateY(180deg);

        .frontSide{
            display: none;
        }

        .backSide{
            transition: 2s;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1000px){
    .card{
        width: 80%;
        height: fit-content;

        .backSide{
            display: flex;
            flex-direction: column;
            align-items: center;

            .like{
                font-size: 24px;

                img{
                    height: 24px;
                }
            }
        }
    }
}