.App{
  height: 100vh;
  background-color: #010618;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cardsContainer{
    width: 100%;
    background-color: #010618;
    display: flex;
    justify-content: center;

    .cards{
      width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
  }
}