@import './assets/index.scss';

.App{
  height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    color: $light-color;
  }

  .pagination{
    width: 80%;
    display: flex;
    justify-content: space-between;

  .secondContainer{
    .formSelect{
        input{
          background-color: transparent;
          color: $light-color;
          border: 2px solid $light-color;
        }
      }
  }

    .btnContainer{
      button{
        border: 2px solid $light-color;
        border-radius: 16px;
        background-color: transparent;
        color: $light-color;
        padding: 8px;
        margin: 8px;

        &:hover{
          cursor: pointer;
        }

        &.noDisplay{
          display: none;
        }
      }
    }
    
  }

  .cardsContainer{
    width: 100%;
    background-color: $background-color;
    display: flex;
    justify-content: center;

    .cards{
      width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
  }
}

@media screen and (max-width: 1000px) {
  .App{
    .pagination{
      flex-direction: column;
      align-items: center;
    }
  }
}