@import '../../assets/index.scss';

.filter{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .searchList{
        button{
            font-size: 18px;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 16px;
            color: white;
            padding: 4px 8px;
            margin: 8px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .filter{
        .formSelectContainer{
            width: 100%;
        }
    }
}