@import '../../assets/index.scss';

.filter{
    .searchList{
        button{
            font-size: 18px;
            background-color: transparent;
            border: 2px solid $light-color;
            border-radius: 16px;
            color: $light-color;
            padding: 4px 8px;
            margin: 8px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .filter{
        .formSelectContainer{
            width: 100%;
        }
    }
}